.MuiCalendarPicker-root {
  background-color: transparent;
  overflow: clip;
}

.MuiPickerStaticWrapper-content {
  background-color: transparent;
}

.MuiCalendarPicker-root .MuiPickersDay-root:not(.Mui-selected) {
  border-width: 3px;
}

.MuiCalendarPicker-root .MuiCalendarPicker-viewTransitionContainer {
  overflow: clip;
}
