.MuiCalendarPicker-root {
  background-color: transparent;
}

.MuiPickerStaticWrapper-content {
  background-color: transparent;
}

.MuiCalendarPicker-root .MuiPickersDay-root:not(.Mui-selected) {
  border-width: 2px;
}
